* {
    box-sizing: border-box;
}

main {
    width: 100%;
}

.card:hover {
    border-color: blue;
    cursor: pointer;
}

.select-skip:hover {
    opacity: 3;
}

.modal {
    width: 900px;
    margin-top: 25rem;
}